{% extends 'admin/change_form.html' %}
{% load i18n %}
{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if original.company.email or original.regulator.email %}
        <form action="/write_email">
        <div class="submit-row">
            <label>
                <select name="template">
                  {% for tpl in templates %}
                    <option value="{{ tpl.uid }}">{{ tpl }}</option>
                  {% endfor %}
                </select>
            </label>
            <input type="submit" name="action" value="write_email"/>
        </div>
        </form>
    {% endif %}

{% endblock %}
